<div class="movie-card" data-controller="movie-card"
data-movie-card-target="card" >
  <%= image_tag movie.image_url %>

  <div class="movie-infos <%= 'd-none' if movie.errors.any? %>"" data-movie-card-target="info">
    <h2><%= movie.title %><small> (<%= movie.year %>)</small></h2>
    <button aria-label="Edit movie" data-action="click->movie-card#revealContent">
      <i class="fa-solid fa-pen fa-xs ml-2"></i>
    </button>
  </div>
  <% if movie.errors.any? %>
     <h1>Something went wrong!</h1>
  <% end %>


  <%= simple_form_for movie, html: { class: movie.errors.any? ? "" : "d-none",
    data: {movie_card_target: "content",
   action: "submit->movie-card#update"},class: "d-none"} do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.submit "Update movie", class: "btn btn-sm btn-primary btn-block mt-2" %>
  <% end %>
</div>
